.profile-cart
  &__table
    tbody
      tr
        +trans
        &:hover
          box-shadow: 0 10px 20px rgba($header-color, 0.1)
          .remove-cart
            opacity: 1
            visibility: visible
    .product-thumbnail
      .remove-cart
        display: none
        +r(992)
          display: block
          position: absolute
          top: 14px
          right: 20px
          z-index: 1
  &__totals
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 60px
    border-top: 1px solid $border-color
    padding: 20px
    +r(767)
      flex-direction: column
  &__checkout
    max-width: 270px
    width: 100%
  &__total
    display: flex
    align-items: flex-end
    +r(767)
      margin-bottom: 20px
    +r(567)
      flex-direction: column
      align-items: center
    > span
      font-family: $ax-font
      font-weight: 600
      color: $header-color
      margin-right: 20px
      +r(567)
        margin-right: 0
        margin-bottom: 10px
    .price
      &__number
        font-size: 36px