@import 'profile-hero'
@import 'profile-info'
@import 'profile-form'
@import 'profile-thanks'
@import 'profile-order'
@import 'profile-cart'
@import 'form-product'
@import 'form-profile'

.profile
  padding: 130px 0 120px
  +r(1200)
    padding: 90px 0 100px
  +r(767)
    padding: 70px 0
  &__row
    display: flex
    +r(767)
      display: block
    &-left
      width: 51.28%
      flex-shrink: 0
      margin-right: 40px
      +r(1200)
        margin-right: 30px
      +r(767)
        width: 100%
        margin: 0 0 30px
    &-right
      width: 45.29%
      +r(767)
        width: 100%
  &__info
    padding: 45px 20px 45px 50px
    height: 100%
    background-color: $bg-color
    +r(1200)
      padding-left: 30px
    +r(767)
      padding: 30px 20px
    &-title
      margin-bottom: 30px
      font-size: 24px
      +r(576)
        font-size: 22px
        text-align: center
    &-text
      max-height: 265px
      color: $general-color
      padding-right: 30px
      +r(576)
        padding-right: 20px
  &__btns
    margin-top: 30px
    +r(480)
      margin-top: 0
    & > *:not(:last-child)
      margin-right: 30px
      +r(480)
        margin-right: 0
        margin-bottom: 10px
    .btn
      width: 150px
      +r(480)
        width: 100%
  &--order
    .section-title
      text-align: center
  .product-card
    &__img-wrap
      &::before
        content: ''
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        background-color: rgba($header-color, 0.8)
        opacity: 0
        visibility: hidden
        z-index: 1
        +trans
    &:hover
      .product-card
        &__img-wrap
          &::before
            opacity: 1
            visibility: visible
        &__action, &__check
          opacity: 1
          visibility: visible

.profile-table-totals
  display: flex
  align-items: center
  justify-content: space-between
  margin-top: 60px
  border-top: 1px solid $border-color
  padding: 20px
  +r(767)
    flex-direction: column
  &__total
    display: flex
    align-items: flex-end
    +r(767)
      margin-bottom: 20px
    +r(567)
      flex-direction: column
      align-items: center
    > span
      font-family: $ax-font
      font-weight: 600
      color: $header-color
      margin-right: 20px
      +r(567)
        margin-right: 0
        margin-bottom: 10px
    .price
      &__number
        font-size: 36px
  &__checkout
    max-width: 270px
    width: 100%