.profile-cart
  &__table
    tbody
      tr
        +trans
        &:hover
          box-shadow: 0 10px 20px rgba($header-color, 0.1)
          .remove-cart
            opacity: 1
            visibility: visible
    .product-thumbnail
      .remove-cart
        display: none
        +r(992)
          display: block
          position: absolute
          top: 14px
          right: 20px
          z-index: 1