section.profile
  .container
    .section-head
      h2.section-title История продаж
      .section-head__right
        .small-filters
          .small-filters__dates
            .small-filters__dates-head
              button(type="button").small-filters__btn.small-filters__btn-date
                +icon('calendar-2', 'small-filters__btn-icon')
                span.small-filters__date 
            .small-filters__dates-body
          .small-filters__search
            .small-filters__btn
              +icon('search', 'small-filters__btn-icon')
              input(type="text", name="search", placeholder="Поиск по содержанию")

    table.profile-history
      thead
        tr
          th Дата
          th Название
          th К-во
          th Стоимость
          th Поставщик
      tbody
        tr
          td(data-label="Дата").product-date 01 февраля 2019
          td(data-label="Название").product-name Яйца куринные
          td(data-label="К-во").product-quantity 100 шт.
          td(data-label="Стоимость").product-price 17 500 руб. 
          td(data-label="Поставщик").product-manufacturer ООО «Михайловские Цыплята»
        tr
          td(data-label="Дата").product-date 01 февраля 2019
          td(data-label="Название").product-name Тушки куриные
          td(data-label="К-во").product-quantity 100 шт.
          td(data-label="Стоимость").product-price 36 000 руб. 
          td(data-label="Поставщик").product-manufacturer ООО «Михайловские Цыплята»
        tr
          td(data-label="Дата").product-date 04 февраля 2019
          td(data-label="Название").product-name Базилик
          td(data-label="К-во").product-quantity 5 кг.
          td(data-label="Стоимость").product-price 11 000 руб. 
          td(data-label="Поставщик").product-manufacturer ООО «ФрешЗелень»
        tr
          td(data-label="Дата").product-date 04 февраля 2019
          td(data-label="Название").product-name Салат «Рукола»
          td(data-label="К-во").product-quantity 25 кг.
          td(data-label="Стоимость").product-price 55 750 руб. 
          td(data-label="Поставщик").product-manufacturer ООО «ФрешЗелень»

    .profile-table-totals
      .profile-table-totals__total
          span Итого за февраль:
          .price
            span.price__number 121 150
              span.price__currency  Руб.