section.profile-hero.profile-hero--seller(style="background-image: url(static/images/content/profile-hero-2.jpg)")
  .container
    .profile-hero__wrap.clearfix
      .profile-hero__pic
        img(src="static/images/content/seller.jpg", alt="Фото профиля")
      .profile-hero__content
        h1.profile-hero__title ООО «МилкиВей»
        p Своим трудом из небольшого крестьянского подворья он построил настоящую ферму, где контролируется каждый цикл: от заготовки сена с собственных полей до переработки молока в сыры.

    .profile-hero__btns
      ul.profile-hero__btns-list
        li.is-active
          a(href="profile-seller.html") Подробная информация
        li
          a(href="#") Электронный прилавок
        li
          a(href="#") Мои заказы
            span.profile-hero__btns-list-count 10

      a(href="#").btn Добавить продукт