section.profile
  .container
    .section-head
      h2.section-title Мои заказы
        span.section-title__count 4
      .section-head__right
        .small-filters
            .small-filters__history
              .small-filters__history-head
                a(href="seller-history.html").small-filters__link.small-filters__link--gray
                  +icon('calendar-2', 'small-filters__link-icon')
                  |  История заказов

    .profile-cart
      table.profile-cart__table
        thead
          tr
            th Фото
            th Название
            th К-во
            th Стоимость
            th(colspan="2") Покупатель
        tbody
          tr
            td(data-label="Фото").product-thumbnail
              a(href="product.html")
                img(src="static/images/content/product-sm-1.jpg", alt="")
              .product-action
                .product-action__head
                  span.product-action__dot
                  span.product-action__dot
                  span.product-action__dot
                .product-action__body
                  ul
                    li
                      a(href="#") Просмотреть заказ
                    li
                      a(href="#") Подтвердить заказ
                    li
                      a(href="#") Удалить заказ
            td(data-label="Название").product-name
              a(href="product.html") Яйца куринные
            td(data-label="К-во").product-quantity
              .quantity
                button(type="button").quantity__btn.quantity__btn--minus -
                input(type="number", name="quantity", id="quantity", value="100", min="1", step="1", pattern="[0-9]*", inputmode="numeric").quantity__val
                button(type="button").quantity__btn.quantity__btn--plus +
            td(data-label="Стоимость").product-price 17 500 <span>руб.</span>
            td(data-label="Покупатель").product-manufacturer ООО «Михайловские Цыплята»
            td(data-label="Статус", title="Подтвержден").product-status
              +icon('check', 'product-status__icon')
              .product-action
                .product-action__head
                  span.product-action__dot
                  span.product-action__dot
                  span.product-action__dot
                .product-action__body
                  ul
                    li
                      a(href="#") Просмотреть заказ
                    li
                      a(href="#") Подтвердить заказ
                    li
                      a(href="#") Удалить заказ
          tr
            td(data-label="Фото").product-thumbnail
              a(href="product.html")
                img(src="static/images/content/product-sm-1.jpg", alt="")
              .product-action
                .product-action__head
                  span.product-action__dot
                  span.product-action__dot
                  span.product-action__dot
                .product-action__body
                  ul
                    li
                      a(href="#") Просмотреть заказ
                    li
                      a(href="#") Подтвердить заказ
                    li
                      a(href="#") Удалить заказ
            td(data-label="Название").product-name
              a(href="product.html") Яйца куринные
            td(data-label="К-во").product-quantity
              .quantity
                button(type="button").quantity__btn.quantity__btn--minus -
                input(type="number", name="quantity", id="quantity", value="100", min="1", step="1", pattern="[0-9]*", inputmode="numeric").quantity__val
                button(type="button").quantity__btn.quantity__btn--plus +
            td(data-label="Стоимость").product-price 17 500 <span>руб.</span>
            td(data-label="Покупатель").product-manufacturer ООО «Михайловские Цыплята»
            td(data-label="Статус", title="Подтвержден").product-status
              +icon('check', 'product-status__icon')
              .product-action
                .product-action__head
                  span.product-action__dot
                  span.product-action__dot
                  span.product-action__dot
                .product-action__body
                  ul
                    li
                      a(href="#") Просмотреть заказ
                    li
                      a(href="#") Подтвердить заказ
                    li
                      a(href="#") Удалить заказ
          tr
            td(data-label="Фото").product-thumbnail
              a(href="product.html")
                img(src="static/images/content/product-sm-1.jpg", alt="")
              .product-action
                .product-action__head
                  span.product-action__dot
                  span.product-action__dot
                  span.product-action__dot
                .product-action__body
                  ul
                    li
                      a(href="#") Просмотреть заказ
                    li
                      a(href="#") Подтвердить заказ
                    li
                      a(href="#") Удалить заказ
            td(data-label="Название").product-name
              a(href="product.html") Яйца куринные
            td(data-label="К-во").product-quantity
              .quantity
                button(type="button").quantity__btn.quantity__btn--minus -
                input(type="number", name="quantity", id="quantity", value="100", min="1", step="1", pattern="[0-9]*", inputmode="numeric").quantity__val
                button(type="button").quantity__btn.quantity__btn--plus +
            td(data-label="Стоимость").product-price 17 500 <span>руб.</span>
            td(data-label="Покупатель").product-manufacturer ООО «Михайловские Цыплята»
            td(data-label="Статус", title="Не подтвержден").product-status.product-status--unconfirmed
              +icon('remove', 'product-status__icon')
              .product-action
                .product-action__head
                  span.product-action__dot
                  span.product-action__dot
                  span.product-action__dot
                .product-action__body
                  ul
                    li
                      a(href="#") Просмотреть заказ
                    li
                      a(href="#") Подтвердить заказ
                    li
                      a(href="#") Удалить заказ
          tr
            td(data-label="Фото").product-thumbnail
              a(href="product.html")
                img(src="static/images/content/product-sm-1.jpg", alt="")
              .product-action
                .product-action__head
                  span.product-action__dot
                  span.product-action__dot
                  span.product-action__dot
                .product-action__body
                  ul
                    li
                      a(href="#") Просмотреть заказ
                    li
                      a(href="#") Подтвердить заказ
                    li
                      a(href="#") Удалить заказ
            td(data-label="Название").product-name
              a(href="product.html") Яйца куринные
            td(data-label="К-во").product-quantity
              .quantity
                button(type="button").quantity__btn.quantity__btn--minus -
                input(type="number", name="quantity", id="quantity", value="100", min="1", step="1", pattern="[0-9]*", inputmode="numeric").quantity__val
                button(type="button").quantity__btn.quantity__btn--plus +
            td(data-label="Стоимость").product-price 17 500 <span>руб.</span>
            td(data-label="Покупатель").product-manufacturer ООО «Михайловские Цыплята»
            td(data-label="Статус", title="Не подтвержден").product-status.product-status--unconfirmed
              +icon('remove', 'product-status__icon')
              .product-action
                .product-action__head
                  span.product-action__dot
                  span.product-action__dot
                  span.product-action__dot
                .product-action__body
                  ul
                    li
                      a(href="#") Просмотреть заказ
                    li
                      a(href="#") Подтвердить заказ
                    li
                      a(href="#") Удалить заказ

      .profile-table-totals
        .profile-table-totals__total
          span Итого заказов:
          .price
            span.price__number 70 000
              span.price__currency  Руб.
        a(href="#").btn.profile-table-totals__checkout Подтвердить заказы