section.profile
  .container
    h2.section-title Электронный прилавок

    .row
      .product-card.col-md-6.col-lg-4.col-xl-3
        .product-card__inner
          .product-card__img-wrap
            span.product-card__status.product-card__status--accept
            span.product-card__check
            span.product-card__dates 01.02 - 12.02
            img(src="static/images/content/product-1.jpg", alt="Молоко коровье 6 %")
            .product-card__action
              .product-card__action-head
                span.product-card__action-dot
                span.product-card__action-dot
                span.product-card__action-dot
              .product-card__action-body
                ul
                  li
                    a(href="#") Редактировать
                  li
                    a(href="#") Подтвердить
                  li
                    a(href="#") Удалить

          .product-card__body
            .product-card__head
              .rating
                .rating__group
                  span.rating__star.rating__star--fill
                  span.rating__star.rating__star--fill
                  span.rating__star.rating__star--fill
                  span.rating__star.rating__star--fill
                  span.rating__star
              h3.product-card__title
                a(href="product.html") Молоко коровье 6 %
              span.product-card__manufacturer от ООО «МилкиВей»
            .product-card__bottom
              .price
                span.price__number 65
                  span.price__currency  руб.
                span.price__desc (за 1 литр)
              a(href="#").btn.btn--transp.product-card__cart
                +icon('cart', 'product-card__cart-icon')
      .product-card.col-md-6.col-lg-4.col-xl-3
        .product-card__inner
          .product-card__img-wrap
            span.product-card__status
            span.product-card__check
            span.product-card__dates 01.02 - 12.02
            img(src="static/images/content/product-2.jpg", alt="Молоко коровье 6 %")
            .product-card__action
              .product-card__action-head
                span.product-card__action-dot
                span.product-card__action-dot
                span.product-card__action-dot
              .product-card__action-body
                ul
                  li
                    a(href="#") Редактировать
                  li
                    a(href="#") Подтвердить
                  li
                    a(href="#") Удалить

          .product-card__body
            .product-card__head
              .rating
                .rating__group
                  span.rating__star.rating__star--fill
                  span.rating__star.rating__star--fill
                  span.rating__star.rating__star--fill
                  span.rating__star.rating__star--fill
                  span.rating__star
              h3.product-card__title
                a(href="product.html") Молоко коровье 6 %
              span.product-card__manufacturer от ООО «МилкиВей»
            .product-card__bottom
              .price
                span.price__number 65
                  span.price__currency  руб.
                span.price__desc (за 1 литр)
              a(href="#").btn.btn--transp.product-card__cart
                +icon('cart', 'product-card__cart-icon')
      .product-card.col-md-6.col-lg-4.col-xl-3
        .product-card__inner
          .product-card__img-wrap
            span.product-card__status
            span.product-card__check
            span.product-card__dates 01.02 - 12.02
            img(src="static/images/content/product-3.jpg", alt="Молоко коровье 6 %")
            .product-card__action
              .product-card__action-head
                span.product-card__action-dot
                span.product-card__action-dot
                span.product-card__action-dot
              .product-card__action-body
                ul
                  li
                    a(href="#") Редактировать
                  li
                    a(href="#") Подтвердить
                  li
                    a(href="#") Удалить

          .product-card__body
            .product-card__head
              .rating
                .rating__group
                  span.rating__star.rating__star--fill
                  span.rating__star.rating__star--fill
                  span.rating__star.rating__star--fill
                  span.rating__star.rating__star--fill
                  span.rating__star
              h3.product-card__title
                a(href="product.html") Молоко коровье 6 %
              span.product-card__manufacturer от ООО «МилкиВей»
            .product-card__bottom
              .price
                span.price__number 65
                  span.price__currency  руб.
                span.price__desc (за 1 литр)
              a(href="#").btn.btn--transp.product-card__cart
                +icon('cart', 'product-card__cart-icon')
      .product-card.col-md-6.col-lg-4.col-xl-3
        .product-card__inner
          .product-card__img-wrap
            span.product-card__status
            span.product-card__check
            span.product-card__dates 01.02 - 12.02
            img(src="static/images/content/product-4.jpg", alt="Молоко коровье 6 %")
            .product-card__action
              .product-card__action-head
                span.product-card__action-dot
                span.product-card__action-dot
                span.product-card__action-dot
              .product-card__action-body
                ul
                  li
                    a(href="#") Редактировать
                  li
                    a(href="#") Подтвердить
                  li
                    a(href="#") Удалить

          .product-card__body
            .product-card__head
              .rating
                .rating__group
                  span.rating__star.rating__star--fill
                  span.rating__star.rating__star--fill
                  span.rating__star.rating__star--fill
                  span.rating__star.rating__star--fill
                  span.rating__star
              h3.product-card__title
                a(href="product.html") Молоко коровье 6 %
              span.product-card__manufacturer от ООО «МилкиВей»
            .product-card__bottom
              .price
                span.price__number 65
                  span.price__currency  руб.
                span.price__desc (за 1 литр)
              a(href="#").btn.btn--transp.product-card__cart
                +icon('cart', 'product-card__cart-icon')

    .profile__btns.text-center
      a(href="#").btn.btn--transp Удалить
      a(href="#").btn Подтвердить