section
  .container
    .section-head
      h2.section-title Продукция этого фермера
      .section-head__right
        .small-filters
          .small-filters__dates
            .small-filters__dates-head
              button(type="button").small-filters__btn.small-filters__btn-date
                +icon('calendar-2', 'small-filters__btn-icon')
                span.small-filters__date 
            .small-filters__dates-body
          .small-filters__btns
            a(href="#").small-filters__link
              +icon('harvest', 'small-filters__link-icon')
              span Перейти к прилавку

    .row
      include ../../modules/product-card/product-card
      include ../../modules/product-card/product-card
      .col-md-12.text-center
        a(href="#").btn.btn--transp Показать еще

  img.rellax.parallax-3(src="static/images/general/salat.png", alt="")