section.general
  .container
    .general__wrap
      .general__left
        .general-slider.swiper-container
          .swiper-wrapper
            .general-slider__item.swiper-slide
              img(src="static/images/content/fermer-1.jpg", alt="")
            .general-slider__item.swiper-slide
              img(src="static/images/content/fermer-1.jpg", alt="")
            .general-slider__item.swiper-slide
              img(src="static/images/content/fermer-1.jpg", alt="")
            .general-slider__item.swiper-slide
              img(src="static/images/content/fermer-1.jpg", alt="")
          .swiper-pagination

      .general__right
        h1.general__title ООО «МилкиВей»
        .rating
          .rating__group
            span.rating__star.rating__star--fill
            span.rating__star.rating__star--fill
            span.rating__star.rating__star--fill
            span.rating__star.rating__star--fill
            span.rating__star
          span.rating__caption 684 отзыва
        .general__descr
          p Невероятно вкусные молочные продукты, изготовленные исключительно из отборного молока по авторской рецептуре, Вас приятно удивят. Высокое качество ингредиентов и строгий контроль на производстве - вот залог успеха ООО «МилкиВей». 

    .row.mt60
      .col-md-4.col-lg-3
        .general__info-list
          .general__info-item
            span.general__info-label Производит:
            p.general__info-content
              +icon('pallet', 'general__info-icon')
              | более 25 видов продукции
          .general__info-item
            span.general__info-label На сайте:
            p.general__info-content
              +icon('calendar', 'general__info-icon')
              | с 20.02.2019 г.
          .general__info-item
            span.general__info-label Адрес производства:
            p.general__info-content
              +icon('point', 'general__info-icon')
              | Московская область, Орехово-Зуево, улица Гагарина, 26
          .general__info-item
            span.general__info-label Способ доставки:
            p.general__info-content
              +icon('package', 'general__info-icon')
              | Курьерская доставка <br>Самовывоз
          .general__info-item
            span.general__info-label Способ оплаты:
            p.general__info-content
              +icon('payment', 'general__info-icon')
              | Наличный расчет <br>Безналичные расчет

      .col-md-8.col-lg-9
        .general__info-desc
          h2.general__info-title Информация о поставщике
          .general__info-text(data-simplebar, data-simplebar-auto-hide="false")
            p В Конаковском районе Тверской области располагается цех по переработке молока, владеет и управляет которым семья Ильичевых. Валерий и Елена занимаются производством молочных продуктов с 2004 года. Они обучались и работали на базе Института молочной промышленности, здесь прошли первые пять лет их профессиональной деятельности. Затем  в городе Конаково Тверской области  семья отреставрировала трехэтажное здание, построенное еще в 1936 году, и установила там оборудование для переработки молока, так началось собственное производство.
            p У них своя лаборатория, где контролируется весь технологический процесс, отличные технологи, которые на высоком уровне знают свою работу не только по части микробиологии, но и по части технологических секретов, и регулярно кто-нибудь из них отправляется на повышение квалификации.
            p Валерий и Елена  принципиально не заводят своего фермерского хозяйства:  ни коровника, ни козлятника. И всё по одной простой причине, как отмечает Валерий, - профессионалы должны делать свое дело: профессионалы-животноводы должны дать качественное молоко, а профессионалы в переработке, семья Ильичевых, должны выдавать профессионально качественный продукт.
            p В Конаковском районе Тверской области располагается цех по переработке молока, владеет и управляет которым семья Ильичевых. Валерий и Елена занимаются производством молочных продуктов с 2004 года. Они обучались и работали на базе Института молочной промышленности, здесь прошли первые пять лет их профессиональной деятельности. Затем  в городе Конаково Тверской области  семья отреставрировала трехэтажное здание, построенное еще в 1936 году, и установила там оборудование для переработки молока, так началось собственное производство.
            p У них своя лаборатория, где контролируется весь технологический процесс, отличные технологи, которые на высоком уровне знают свою работу не только по части микробиологии, но и по части технологических секретов, и регулярно кто-нибудь из них отправляется на повышение квалификации.
            p Валерий и Елена  принципиально не заводят своего фермерского хозяйства:  ни коровника, ни козлятника. И всё по одной простой причине, как отмечает Валерий, - профессионалы должны делать свое дело: профессионалы-животноводы должны дать качественное молоко, а профессионалы в переработке, семья Ильичевых, должны выдавать профессионально качественный продукт.

  img.rellax.parallax-1(src="static/images/general/tomato.png", alt="")