section.s-review.s-review--bg
  .container
    h2.section-title.text-center Отзывы о фермере и его продукции
    .row
      .col-md-6.col-lg-4.review-card
        .review-card__inner
          .review-card__top
            img(src="static/images/content/user-2.jpg", alt="").review-card__pic
            .review-card__head
              h3.review-card__name Ирина Ткачук
              .rating
                .rating__group
                  span.rating__star.rating__star--fill
                  span.rating__star.rating__star--fill
                  span.rating__star.rating__star--fill
                  span.rating__star.rating__star--fill
                  span.rating__star
                span.rating__caption 04.02.2018
          .review-card__body
            p Спасибо большое за доставку.Была очень удивлена как был товар упакован.Брала айву 5кг. и 1кг. сливы хочу сказать с весом все четко недовеса нет буду и дальше сотрудничать с вами. Рекомендую!!!
      .col-md-6.col-lg-4.review-card
        .review-card__inner
          .review-card__top
            img(src="static/images/content/user-2.jpg", alt="").review-card__pic
            .review-card__head
              h3.review-card__name Ирина Ткачук
              .rating
                .rating__group
                  span.rating__star.rating__star--fill
                  span.rating__star.rating__star--fill
                  span.rating__star.rating__star--fill
                  span.rating__star.rating__star--fill
                  span.rating__star
                span.rating__caption 04.02.2018
          .review-card__body
            p Спасибо большое за доставку.Была очень удивлена как был товар упакован.Брала айву 5кг. и 1кг. сливы хочу сказать с весом все четко недовеса нет буду и дальше сотрудничать с вами. Рекомендую!!!
      .col-md-6.col-lg-4.review-card
        .review-card__inner
          .review-card__top
            img(src="static/images/content/user-2.jpg", alt="").review-card__pic
            .review-card__head
              h3.review-card__name Ирина Ткачук
              .rating
                .rating__group
                  span.rating__star.rating__star--fill
                  span.rating__star.rating__star--fill
                  span.rating__star.rating__star--fill
                  span.rating__star.rating__star--fill
                  span.rating__star
                span.rating__caption 04.02.2018
          .review-card__body
            p Спасибо большое за доставку.Была очень удивлена как был товар упакован.Брала айву 5кг. и 1кг. сливы хочу сказать с весом все четко недовеса нет буду и дальше сотрудничать с вами. Рекомендую!!!
      .col-md-12.text-center.mt20
        a(href="#").btn.btn--transp Показать еще