section.categories
  .container
    h2.section-title Ассортимент фермерского рынка

    .categories-list
      .categories-list__item
        .categories-list__inner
          h3.categories-list__title Молочные продукты
          p.categories-list__desc более 154 видов
          ul.categories-list__links
            li
              a(href="#") Курица
            li
              a(href="#") Индейка
            li
              a(href="#") Остальное
            li
              a(href="#") Яйца
            li
              a(href="#") Показать все

          img(src="static/images/content/milk-product.svg", width="75", alt="").categories-list__icon

      .categories-list__item
        .categories-list__inner
          h3.categories-list__title Мясо и мясные изделия
          p.categories-list__desc более 54 видов
          ul.categories-list__links
            li
              a(href="#") Курица
            li
              a(href="#") Индейка
            li
              a(href="#") Остальное
            li
              a(href="#") Яйца
            li
              a(href="#") Показать все

          img(src="static/images/content/meat-product.svg", width="75", alt="").categories-list__icon

      .categories-list__item
        .categories-list__inner
          h3.categories-list__title Птица и яйца
          p.categories-list__desc более 15 видов
          ul.categories-list__links
            li
              a(href="#") Курица
            li
              a(href="#") Индейка
            li
              a(href="#") Остальное
            li
              a(href="#") Яйца
            li
              a(href="#") Показать все

          img(src="static/images/content/chicken-product.svg", width="75", alt="").categories-list__icon

      .categories-list__item
        .categories-list__inner
          h3.categories-list__title Рыба и морепродукты
          p.categories-list__desc более 30 видов
          ul.categories-list__links
            li
              a(href="#") Курица
            li
              a(href="#") Индейка
            li
              a(href="#") Остальное
            li
              a(href="#") Яйца
            li
              a(href="#") Показать все

          img(src="static/images/content/fish-product.svg", width="75", alt="").categories-list__icon

      .categories-list__item
        .categories-list__inner
          h3.categories-list__title Зелень, овощи, фрукты, ягоды
          p.categories-list__desc более 104 видов
          ul.categories-list__links
            li
              a(href="#") Курица
            li
              a(href="#") Индейка
            li
              a(href="#") Остальное
            li
              a(href="#") Яйца
            li
              a(href="#") Показать все

          img(src="static/images/content/healthy-food.svg", width="75", alt="").categories-list__icon

      .categories-list__item
        .categories-list__inner
          h3.categories-list__title Домашние сладости
          p.categories-list__desc более 84 видов
          ul.categories-list__links
            li
              a(href="#") Курица
            li
              a(href="#") Индейка
            li
              a(href="#") Остальное
            li
              a(href="#") Яйца
            li
              a(href="#") Показать все

          img(src="static/images/content/apple-pie.svg", width="75", alt="").categories-list__icon

      .categories-list__item
        .categories-list__inner
          h3.categories-list__title Домашние заготовки
          p.categories-list__desc более 24 видов
          ul.categories-list__links
            li
              a(href="#") Курица
            li
              a(href="#") Индейка
            li
              a(href="#") Остальное
            li
              a(href="#") Яйца
            li
              a(href="#") Показать все

          img(src="static/images/content/jam.svg", width="75", alt="").categories-list__icon

      .categories-list__item
        .categories-list__inner
          h3.categories-list__title Готовая еда
          p.categories-list__desc более 54 видов
          ul.categories-list__links
            li
              a(href="#") Курица
            li
              a(href="#") Индейка
            li
              a(href="#") Остальное
            li
              a(href="#") Яйца
            li
              a(href="#") Показать все

          img(src="static/images/content/ready-food.svg", width="75", alt="").categories-list__icon

      .categories-list__item
        .categories-list__inner
          h3.categories-list__title Почти готовая еда
          p.categories-list__desc более 64 видов
          ul.categories-list__links
            li
              a(href="#") Курица
            li
              a(href="#") Индейка
            li
              a(href="#") Остальное
            li
              a(href="#") Яйца
            li
              a(href="#") Показать все

          img(src="static/images/content/frozen-food.svg", width="75", alt="").categories-list__icon

      .categories-list__item
        .categories-list__inner
          h3.categories-list__title Бакалея
          p.categories-list__desc более 154 видов
          ul.categories-list__links
            li
              a(href="#") Курица
            li
              a(href="#") Индейка
            li
              a(href="#") Остальное
            li
              a(href="#") Яйца
            li
              a(href="#") Молоко
            li
              a(href="#") Показать все

          img(src="static/images/content/grocery.svg", width="75", alt="").categories-list__icon

  img.rellax.parallax-2(src="static/images/general/egg.png", alt="", data-rellax-speed="2")
  img.rellax.parallax-3(src="static/images/general/salat.png", alt="")