section.s-review
  .container
    .row
      .col-lg-5.col-xl-4
        .s-review__left
          h2.section-title
            span.text-gradient 540 500
            | <br>отзывов <br>о ГолобаФермер
          a(href="#").btn.btn--transp Все отзывы
      .col-lg-7.col-xl-8
        .review-slider.swiper-container
          .swiper-wrapper
            .review-card.swiper-slide
              .review-card__inner
                .review-card__top
                  img(src="static/images/content/user-1.jpg", alt="").review-card__pic
                  .review-card__head
                    h3.review-card__name Светлана Сосновик
                    .rating
                      .rating__group
                        span.rating__star.rating__star--fill
                        span.rating__star.rating__star--fill
                        span.rating__star.rating__star--fill
                        span.rating__star.rating__star--fill
                        span.rating__star
                      span.rating__caption 04.02.2018
                .review-card__body
                  p Спасибо большое за доставку.Была очень удивлена как был товар упакован.Брала айву 5кг. и 1кг. сливы хочу сказать с весом все четко недовеса нет буду и дальше сотрудничать с вами. Рекомендую!!!
            .review-card.swiper-slide
              .review-card__inner
                .review-card__top
                  img(src="static/images/content/user-2.jpg", alt="").review-card__pic
                  .review-card__head
                    h3.review-card__name Ирина Ткачук
                    .rating
                      .rating__group
                        span.rating__star.rating__star--fill
                        span.rating__star.rating__star--fill
                        span.rating__star.rating__star--fill
                        span.rating__star.rating__star--fill
                        span.rating__star
                      span.rating__caption 04.02.2018
                .review-card__body
                  p Спасибо большое за доставку.Была очень удивлена как был товар упакован.Брала айву 5кг. и 1кг. сливы хочу сказать с весом все четко недовеса нет буду и дальше сотрудничать с вами. Рекомендую!!!
            .review-card.swiper-slide
              .review-card__inner
                .review-card__top
                  img(src="static/images/content/user-2.jpg", alt="").review-card__pic
                  .review-card__head
                    h3.review-card__name Ирина Ткачук
                    .rating
                      .rating__group
                        span.rating__star.rating__star--fill
                        span.rating__star.rating__star--fill
                        span.rating__star.rating__star--fill
                        span.rating__star.rating__star--fill
                        span.rating__star
                      span.rating__caption 04.02.2018
                .review-card__body
                  p Спасибо большое за доставку.Была очень удивлена как был товар упакован.Брала айву 5кг. и 1кг. сливы хочу сказать с весом все четко недовеса нет буду и дальше сотрудничать с вами. Рекомендую!!!
            .review-card.swiper-slide
              .review-card__inner
                .review-card__top
                  img(src="static/images/content/user-1.jpg", alt="").review-card__pic
                  .review-card__head
                    h3.review-card__name Ирина Ткачук
                    .rating
                      .rating__group
                        span.rating__star.rating__star--fill
                        span.rating__star.rating__star--fill
                        span.rating__star.rating__star--fill
                        span.rating__star.rating__star--fill
                        span.rating__star
                      span.rating__caption 04.02.2018
                .review-card__body
                  p Спасибо большое за доставку.Была очень удивлена как был товар упакован.Брала айву 5кг. и 1кг. сливы хочу сказать с весом все четко недовеса нет буду и дальше сотрудничать с вами. Рекомендую!!!
          .swiper-pagination
    .s-review__wrap
      

      