section.statistic
  .container
    h2.section-title Как работает <br>электронный фермерский рынок

    .statistic__list
      .statistic__item
        .statistic__number
          span.statistic__number-accent.text-gradient 1 500
          |  позиций
        p.statistic__desc Фермерской продукции
      .statistic__item
        .statistic__number
          span.statistic__number-accent.text-gradient 20 
            span тыс
          |  клиентов
        p.statistic__desc По всем регионам России
      .statistic__item
        .statistic__number
          span.statistic__number-accent.text-gradient 2 500
          |  тон
        p.statistic__desc Объем продаж по рознице