section.top-fermers
  .container
    .section-head
      h2.section-title Топ фермеров
      .section-head__right
        include ../../modules/small-filters/small-filters

    .row
      include ../../modules/fermer-card/fermer-card
      .col-md-12.text-center.mt20
        a(href="#").btn.btn--transp Показать еще