section.hero(style="background-image: url(static/images/content/hero-fermers.jpg)")
  .container
    .hero__content
      h1 Рейтинг фермеров
      p Когда Вы заказываете рыбу она в это время ещё плавает, если Вы <br>заказываете петрушку она в это время ещё растет.

    include ../../modules/filter-search/filter-search