.rellax
  position: absolute
  z-index: 0
  +r(1200)
    display: none

.parallax
  &-1
    top: 100px
    right: 87%
    z-index: -1
  &-2
    bottom: -300px
    right: 72%
  &-3
    left: 85%
    top: -200px
  &-4
    left: 85%
    top: -630px
    +r(1200)
      top: -900px
  &-5
    bottom: -400px
    right: 82%