@import 'small-location'
@import 'phone'
@import 'logo'
@import 'dropdown-list'
@import 'parallax'
@import 'slider'
@import 'region-list'
@import 'summary'

.simplebar-track.simplebar-vertical
  width: 1px
  background-color: #e5e5e5
  .simplebar-scrollbar
    width: 3px
    right: -1px
    &::before
      background-color: #d9d9d9
      opacity: 1

.price
  font-family: $ax-font
  color: $header-color
  &__number
    font-size: 30px
    font-weight: 600
    line-height: 1
  &__currency
    font-size: 14px
    font-weight: 900
    text-transform: uppercase
  &__desc
    display: block
    font-family: $main-font
    font-size: 12px
    color: $gray

.add-cart
  padding-right: 20px
  padding-left: 20px
  &__icon
    width: 22px
    height: 22px
    margin-left: 20px
    fill: #fff
    +trans

.remove-cart
  &:hover, &:focus
    .remove-cart
      &__icon
        fill: tomato
  &__icon
    width: 20px
    height: 20px
    fill: #a6a6a6
    +trans

.quantity
  display: flex
  align-items: center
  &__btn
    position: relative
    width: 30px
    height: 30px
    padding: 0
    background: #fff
    border-radius: 5px
    border: 1px solid $border-color
    color: $gray
    font-size: 0
    +trans
    &:hover
      border-color: $accent
      &::before, &::after
        background-color: $accent
    &:focus
      outline: none
      border-color: $accent
      background-color: $accent
      &::before, &::after
        background-color: #fff
    &::before
      content: ''
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      width: 8px
      height: 1px
      background-color: $gray
      +trans
    &--plus
      &::after
        content: ''
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%) rotate(90deg)
        width: 8px
        height: 1px
        background-color: $gray
        +trans
  &__val
    width: 60px
    padding: 0 5px
    border: none
    box-shadow: none
    appearance: none
    -moz-appearance: textfield
    font-size: 18px
    color: $gray
    text-align: center
    background: none
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button
      appearance: none
      margin: 0
    &:focus
      outline: none

.pickmeup
  font-size: 15px
  box-shadow: 0 5px 15px rgba($header-color, 0.15)