.form
  &-inline
    display: flex
    flex-wrap: wrap
    align-items: center
    .btn
      position: relative
      margin-left: -5px
  &-group
    position: relative
    & > *:not(:last-child)
      margin-right: 40px
  &-row
    display: flex
    align-items: center
    margin-bottom: 20px
    +r(767)
      width: 100%
    +r(576)
      flex-wrap: wrap
    & > .form-row
      margin-right: 40px
      margin-bottom: 0
      +r(767)
        margin-right: 0
      &:last-child
        margin-right: 0
    &--full
      flex-grow: 1
    &--align-top
      align-items: flex-start
      .form-label
        padding-top: 15px
  &-label
    width: 130px
    flex-shrink: 0
    margin: 0
    font-family: $ax-font
    color: $header-color
    cursor: pointer
    +r(576)
      width: auto
      margin-bottom: 5px
    &--sm
      width: 80px
  &-fieldset
    margin-bottom: 30px
    +r(767)
      margin-bottom: 10px
    &:last-of-type
      margin-bottom: 0
  &-input-icon
    position: relative
    width: 100%

legend
  margin-bottom: 30px
  font-family: $ax-font
  font-size: 20px
  color: $social-color
  +r(767)
    font-size: 18px
    margin-bottom: 20px

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="number"],
select,
textarea
  width: 100%
  padding: 12px 20px
  border-radius: 5px
  background: #fff
  border: 1px solid $border-color
  font-size: 14px
  color: $gray
  box-shadow: none
  +trans
  &::placeholder
    color: inherit
  &:hover
    border-color: darken($border-color, 5%)
  &:focus
    border-color: $accent
    outline: none

textarea
  height: 130px

input[type="checkbox"],
input[type="radio"]
  @extend .visually-hidden

.check
  position: relative
  margin: 0
  padding-left: 25px
  cursor: pointer
  +trans
  &:hover, &:focus
    color: $accent
  &__box
    width: 14px
    height: 14px
    border: 1px solid $accent
    border-radius: 50%
    position: absolute
    top: 6px
    left: 0
    &::after
      content: ''
      width: 6px
      height: 6px
      border-radius: 50%
      background-color: $accent
      position: absolute
      left: 3px
      top: 3px
      opacity: 0
      visibility: hidden
      +trans
  &__input
    &:checked ~ .check__box::after
      opacity: 1
      visibility: visible