section.bg-color
  .container
    .section-head
      h2.section-title Продукция этого фермера
      .section-head__right
        .small-filters
          .small-filters__btns
            a(href="#").small-filters__link
              +icon('harvest', 'small-filters__link-icon')
              span Перейти к прилавку

    .product-slider.swiper-container
      .swiper-wrapper
        .swiper-slide.product-card
          .product-card__inner
            .product-card__img-wrap
              img(src="static/images/content/product-1.jpg", alt="Молоко коровье 6 %")
            .product-card__body
              .product-card__head
                .rating
                  .rating__group
                    span.rating__star.rating__star--fill
                    span.rating__star.rating__star--fill
                    span.rating__star.rating__star--fill
                    span.rating__star.rating__star--fill
                    span.rating__star
                h3.product-card__title
                  a(href="#") Молоко коровье 6 %
                span.product-card__manufacturer от ООО «МилкиВей»
              .product-card__bottom
                .price
                  span.price__number 65
                    span.price__currency  руб.
                  span.price__desc (за 1 литр)
                a(href="#").btn.btn--transp.product-card__cart
                  +icon('cart', 'product-card__cart-icon')
        .swiper-slide.product-card
          .product-card__inner
            .product-card__img-wrap
              img(src="static/images/content/product-2.jpg", alt="Молоко коровье 6 %")
            .product-card__body
              .product-card__head
                .rating
                  .rating__group
                    span.rating__star.rating__star--fill
                    span.rating__star.rating__star--fill
                    span.rating__star.rating__star--fill
                    span.rating__star.rating__star--fill
                    span.rating__star
                h3.product-card__title
                  a(href="#") Молоко коровье 6 %
                span.product-card__manufacturer от ООО «МилкиВей»
              .product-card__bottom
                .price
                  span.price__number 65
                    span.price__currency  руб.
                  span.price__desc (за 1 литр)
                a(href="#").btn.btn--transp.product-card__cart
                  +icon('cart', 'product-card__cart-icon')
        .swiper-slide.product-card
          .product-card__inner
            .product-card__img-wrap
              img(src="static/images/content/product-3.jpg", alt="Молоко коровье 6 %")
            .product-card__body
              .product-card__head
                .rating
                  .rating__group
                    span.rating__star.rating__star--fill
                    span.rating__star.rating__star--fill
                    span.rating__star.rating__star--fill
                    span.rating__star.rating__star--fill
                    span.rating__star
                h3.product-card__title
                  a(href="#") Молоко коровье 6 %
                span.product-card__manufacturer от ООО «МилкиВей»
              .product-card__bottom
                .price
                  span.price__number 65
                    span.price__currency  руб.
                  span.price__desc (за 1 литр)
                a(href="#").btn.btn--transp.product-card__cart
                  +icon('cart', 'product-card__cart-icon')
        .swiper-slide.product-card
          .product-card__inner
            .product-card__img-wrap
              img(src="static/images/content/product-4.jpg", alt="Молоко коровье 6 %")
            .product-card__body
              .product-card__head
                .rating
                  .rating__group
                    span.rating__star.rating__star--fill
                    span.rating__star.rating__star--fill
                    span.rating__star.rating__star--fill
                    span.rating__star.rating__star--fill
                    span.rating__star
                h3.product-card__title
                  a(href="#") Молоко коровье 6 %
                span.product-card__manufacturer от ООО «МилкиВей»
              .product-card__bottom
                .price
                  span.price__number 65
                    span.price__currency  руб.
                  span.price__desc (за 1 литр)
                a(href="#").btn.btn--transp.product-card__cart
                  +icon('cart', 'product-card__cart-icon')
        .swiper-slide.product-card
          .product-card__inner
            .product-card__img-wrap
              img(src="static/images/content/product-1.jpg", alt="Молоко коровье 6 %")
            .product-card__body
              .product-card__head
                .rating
                  .rating__group
                    span.rating__star.rating__star--fill
                    span.rating__star.rating__star--fill
                    span.rating__star.rating__star--fill
                    span.rating__star.rating__star--fill
                    span.rating__star
                h3.product-card__title
                  a(href="#") Молоко коровье 6 %
                span.product-card__manufacturer от ООО «МилкиВей»
              .product-card__bottom
                .price
                  span.price__number 65
                    span.price__currency  руб.
                  span.price__desc (за 1 литр)
                a(href="#").btn.btn--transp.product-card__cart
                  +icon('cart', 'product-card__cart-icon')
      .swiper-pagination