section.hero(style="background-image: url(static/images/content/hero-2.jpg)")
  .container
    .hero__content
      h1 Контактные данные
      p Когда Вы заказываете рыбу она в это время ещё плавает, если Вы <br>заказываете петрушку она в это время ещё растет.