section.about
  .container
    .row.align-items-center
      .col-lg-6
        .about__content
          h2 Немного о нас
          p Приветствуем Вас! Мы — молодая, амбициозная команда будущего. Наша мечта — кардинально перевернуть Ваше представление о покупках, а точнее, повернуть возможности современного рынка продуктов к Вам лицом. Все мы хотим употреблять свежие, качественные, самые лучшие продукты по доступным ценам и при этом не утруждать себя бегом по супермаркетам, рынкам в попытках отыскать их. С нашим интернет-рынком легкая покупка качественных продуктов станет реальностью.

      .col-lg-6
        .about-slider.swiper-container
          .swiper-wrapper
            .about-slider__item.swiper-slide
              img(src="static/images/content/about-slider-1.jpg", alt="")
            .about-slider__item.swiper-slide
              img(src="static/images/content/about-slider-1.jpg", alt="")
            .about-slider__item.swiper-slide
              img(src="static/images/content/about-slider-1.jpg", alt="")
            .about-slider__item.swiper-slide
              img(src="static/images/content/about-slider-1.jpg", alt="")
          .swiper-pagination
