section.delivery
  .container
    h2.section-title.text-center Способы доставки и получения
    .row
      .col-md-6
        .delivery__left
          p Доставляем с 6:00 до 19:00 по понедельникам, средам, пятницам и субботам.
          p Самовывоз с фермы возможен 4 дня в неделю: в понедельник, среду, пятницу и субботу с 9:00 до 20:00.
          p Оформление заказа на послезавтра осуществляется до 20:00 текущего дня.
          p Стоимость доставки рассчитывается автоматически и зависит от суммы заказа и расстояния от МКАД.

      .col-md-6
        .delivery__right
          p При обнаружении несоответствий товара заявленному примеру на сайте и его описанию, в течении дня получения заказа продукции товар будет заменен. В последующие дни товар замене не подлежит, так как мы не можем быть уверенны в соблюдении правильных условий хранения.

    .row.mt60
      .col-md-6.col-lg-4
        .delivery-price-table
          span.delivery-price-table__title В пределах МКАД
          .delivery-price-table__body
            .delivery-price-table__row.delivery-price-table__row--head
              .delivery-price-table__col
                span Сумма заказа:
              .delivery-price-table__col
                span Цена доставки:
            .delivery-price-table__row
              .delivery-price-table__col до 3500 руб.
              .delivery-price-table__col 249 руб.
            .delivery-price-table__row
              .delivery-price-table__col 3500 - 4000 руб.
              .delivery-price-table__col 199 руб.
            .delivery-price-table__row
              .delivery-price-table__col 4000 - 5000 руб.
              .delivery-price-table__col 99 руб.
            .delivery-price-table__row
              .delivery-price-table__col от 5000 руб.
              .delivery-price-table__col 0 руб.

      .col-md-6.col-lg-4
        .delivery-price-table
          span.delivery-price-table__title До 10 км от МКАД
          .delivery-price-table__body
            .delivery-price-table__row.delivery-price-table__row--head
              .delivery-price-table__col
                span Сумма заказа:
              .delivery-price-table__col
                span Цена доставки:
            .delivery-price-table__row
              .delivery-price-table__col до 3500 руб.
              .delivery-price-table__col 249 руб.
            .delivery-price-table__row
              .delivery-price-table__col 3500 - 4000 руб.
              .delivery-price-table__col 199 руб.
            .delivery-price-table__row
              .delivery-price-table__col 4000 - 5000 руб.
              .delivery-price-table__col 99 руб.
            .delivery-price-table__row
              .delivery-price-table__col от 5000 руб.
              .delivery-price-table__col 0 руб.

      .col-md-6.col-lg-4
        .delivery-price-table
          span.delivery-price-table__title От 10 км до 20 км от МКАД
          .delivery-price-table__body
            .delivery-price-table__row.delivery-price-table__row--head
              .delivery-price-table__col
                span Сумма заказа:
              .delivery-price-table__col
                span Цена доставки:
            .delivery-price-table__row
              .delivery-price-table__col до 3500 руб.
              .delivery-price-table__col 249 руб.
            .delivery-price-table__row
              .delivery-price-table__col 3500 - 4000 руб.
              .delivery-price-table__col 199 руб.
            .delivery-price-table__row
              .delivery-price-table__col 4000 - 5000 руб.
              .delivery-price-table__col 99 руб.
            .delivery-price-table__row
              .delivery-price-table__col от 5000 руб.
              .delivery-price-table__col 0 руб.

  img.rellax.parallax-1(src="static/images/general/tomato.png", alt="", data-rellax-speed="2", data-rellax-percentage="1")