section.payment
  .container
    h2.section-title.text-center Способы оплаты

    .row.justify-content-center
      .icon-box.col-md-6.col-lg-4
        .icon-box__icon
          img(src="static/images/content/money.svg", width="80" alt="")
        h3.icon-box__title Наличными
        p Вы можете рассчитаться с курьером при получении заказа, оплата производится в рублях
      .icon-box.col-md-6.col-lg-4
        .icon-box__icon
          img(src="static/images/content/credit-card.svg", width="80" alt="")
        h3.icon-box__title Безналичный расчет
        p Можно перечислить деньги на наш банковский счет, заключив с нами договор, если данный способ оплаты будет для Вас более удобным. Для уточнения деталей свяжитесь с нашим Call-центром
      .icon-box.col-md-6.col-lg-4
        .icon-box__icon
          img(src="static/images/content/pay.svg", width="60" alt="")
        h3.icon-box__title Яндекс.Деньги
        p Чтобы заплатить этим способом, вам нужно открыть кошелек в Яндекс.Деньгах и пополнить счет (это можно сделать онлайн). После оформления заказа вы попадете на страницу оплаты в сервисе «Яндекс.Деньги».