section.s-users
  .container
    .row
      .col-lg-4
        .s-users__left
          h2.section-title
            span.text-gradient 540 500 <br>
            |  пользователей <br>на нашем сайте

          .swiper-pagination.users-slider-pagination

      .col-lg-8
        .users-slider.swiper-container
          .swiper-wrapper
            .users-slider__item.swiper-slide
              img(src="static/images/content/user-1.jpg", alt="").users-slider__user
              .users-slider__row
                h3.users-slider__name Ирина Ткачук
                p Более 24 успешных покупок
            .users-slider__item.swiper-slide
              img(src="static/images/content/user-2.jpg", alt="").users-slider__user
              .users-slider__row
                h3.users-slider__name Мария Волощенко
                p Более 66 успешных покупок
            .users-slider__item.swiper-slide
              img(src="static/images/content/user-3.jpg", alt="").users-slider__user
              .users-slider__row
                h3.users-slider__name Владислав Титов
                p Более 48 успешных покупок
            .users-slider__item.swiper-slide
              img(src="static/images/content/user-4.jpg", alt="").users-slider__user
              .users-slider__row
                h3.users-slider__name Александр Булак
                p Более 104 успешных покупок
            .users-slider__item.swiper-slide
              img(src="static/images/content/user-5.jpg", alt="").users-slider__user
              .users-slider__row
                h3.users-slider__name Cиницына Ольга
                p Более 203 успешных покупок
            .users-slider__item.swiper-slide
              img(src="static/images/content/user-6.jpg", alt="").users-slider__user
              .users-slider__row
                h3.users-slider__name Баулина Оксана
                p Более 203 успешных покупок
            .users-slider__item.swiper-slide
              img(src="static/images/content/user-1.jpg", alt="").users-slider__user
              .users-slider__row
                h3.users-slider__name Ирина Ткачук
                p Более 24 успешных покупок
            .users-slider__item.swiper-slide
              img(src="static/images/content/user-2.jpg", alt="").users-slider__user
              .users-slider__row
                h3.users-slider__name Мария Волощенко
                p Более 66 успешных покупок
            .users-slider__item.swiper-slide
              img(src="static/images/content/user-3.jpg", alt="").users-slider__user
              .users-slider__row
                h3.users-slider__name Владислав Титов
                p Более 48 успешных покупок
            .users-slider__item.swiper-slide
              img(src="static/images/content/user-4.jpg", alt="").users-slider__user
              .users-slider__row
                h3.users-slider__name Александр Булак
                p Более 104 успешных покупок
            .users-slider__item.swiper-slide
              img(src="static/images/content/user-5.jpg", alt="").users-slider__user
              .users-slider__row
                h3.users-slider__name Cиницына Ольга
                p Более 203 успешных покупок
            .users-slider__item.swiper-slide
              img(src="static/images/content/user-6.jpg", alt="").users-slider__user
              .users-slider__row
                h3.users-slider__name Баулина Оксана
                p Более 203 успешных покупок