.fermer-card.col-md-6.col-xl-4
  .fermer-card__inner
    .fermer-card__img-wrap
      img(src="static/images/content/fermer-card-1.jpg", alt="ООО «МилкиВей»")
    .fermer-card__body
      .fermer-card__head
        h3.fermer-card__title
          a(href="fermer.html") ООО «МилкиВей»
        .rating
          .rating__group
            span.rating__star.rating__star--fill
            span.rating__star.rating__star--fill
            span.rating__star.rating__star--fill
            span.rating__star.rating__star--fill
            span.rating__star
          span.rating__caption 684 отзыва
      p.fermer-card__label Предоставляемая продукция:
      ul.fermer-card__list
        li Сыры твердые
        li Молоко
        li Молочные коктейли
        li Сливочное масло
        li Творожные десерты
        li.fermer-card__list-last Еще +10

      p.fermer-card__label Способ: доставки и оплаты:
      ul.fermer-card__list
        li Самовывоз
        li Курьерская доставка
        li Наличный расчет
        li Безналичные расчет

.fermer-card.col-md-6.col-xl-4
  .fermer-card__inner
    .fermer-card__img-wrap
      img(src="static/images/content/fermer-card-2.jpg", alt="ООО «Орехово-Зуево Молоко»")
    .fermer-card__body
      .fermer-card__head
        h3.fermer-card__title
          a(href="fermer.html") ООО «Орехово-Зуево Молоко»
        .rating
          .rating__group
            span.rating__star.rating__star--fill
            span.rating__star.rating__star--fill
            span.rating__star.rating__star--fill
            span.rating__star.rating__star--fill
            span.rating__star
          span.rating__caption 684 отзыва
      p.fermer-card__label Предоставляемая продукция:
      ul.fermer-card__list
        li Сыры твердые
        li Молоко
        li Молочные коктейли
        li Сливочное масло
        li Творожные десерты
        li.fermer-card__list-last Еще +10

      p.fermer-card__label Способ: доставки и оплаты:
      ul.fermer-card__list
        li Самовывоз
        li Курьерская доставка
        li Наличный расчет
        li Безналичные расчет

.fermer-card.col-md-6.col-xl-4
  .fermer-card__inner
    .fermer-card__img-wrap
      img(src="static/images/content/fermer-card-3.jpg", alt="ООО «Михайловское»")
    .fermer-card__body
      .fermer-card__head
        h3.fermer-card__title
          a(href="fermer.html") ООО «Михайловское»
        .rating
          .rating__group
            span.rating__star.rating__star--fill
            span.rating__star.rating__star--fill
            span.rating__star.rating__star--fill
            span.rating__star.rating__star--fill
            span.rating__star
          span.rating__caption 684 отзыва
      p.fermer-card__label Предоставляемая продукция:
      ul.fermer-card__list
        li Сыры твердые
        li Молоко
        li Молочные коктейли
        li Сливочное масло
        li Творожные десерты
        li.fermer-card__list-last Еще +10

      p.fermer-card__label Способ: доставки и оплаты:
      ul.fermer-card__list
        li Самовывоз
        li Курьерская доставка
        li Наличный расчет
        li Безналичные расчет