form(action="#" method="get").filter-search
  .filter-search__row
    .filter-search__category
      .filter-search__category-head
        button(type="button").filter-search__btn
          span Категория товаров
        ul.dropdown-list
          li
            a(href="#") Молочные продукты
          li
            a(href="#") Мясо и мясные изделия
          li
            a(href="#") Птица и яйца
          li
            a(href="#") Рыба и морепродукты
          li
            a(href="#") Зелень, овощи, фрукты, ягоды
          li
            a(href="#") Домашние сладости
          li
            a(href="#") Домашние заготовки
          li
            a(href="#") Готовая еда
          li
            a(href="#") Почти готовая еда
          li
            a(href="#") Бакалея

    .filter-search__radius
      .filter-search__radius-head
        button(type="button").filter-search__btn
          span Радиус, км
        ul.dropdown-list
          li
            a(href="#") 1 Км
          li
            a(href="#") 2 Км

    .filter-search__search
      input(type="text" name="product" placeholder="Введите названия...")

  .filter-search__btns
    a(href="map.html").btn.btn--white
      +icon('location', 'filter-search__btns-icon')
      span Показать на карте
    button(type="submit").btn Найти