extends template/main

block variables
  - var title = 'О нас'
  - var pageClass = ''
  - var parallax = 'avocado'

block content

  include pages/about/hero
  include pages/about/about
  include pages/about/advantages
  include pages/about/users
  include pages/about/delivery
  include pages/about/payment
  include modules/banner-form/banner-form