extends template/main

block variables
  - var title = 'Контакты'
  - var pageClass = ''

block content

  include pages/contact/hero
  include pages/contact/contact
  include modules/banner-form/banner-form