extends template/main

block variables
  - var title = 'История покупок'
  - var pageClass = ''

block content

  include pages/cabinet/profile-customer/profile-hero
  include pages/cabinet/profile-customer/profile-history
  include modules/banner-form/banner-form