extends template/main

block variables
  - var title = 'Благодарим за ваш заказ'
  - var pageClass = ''
  - var login = true

block content

  include pages/cabinet/profile-customer/profile-hero
  include pages/cabinet/profile-customer/profile-thanks
  include modules/banner-form/banner-form
  include modules/chat/chat