extends template/main

block variables
  - var title = 'Вопросы и ответы'
  - var pageClass = ''
  - var parallax = 'egg'

block content

  include pages/faq/hero
  include pages/faq/faq
  include modules/banner-form/banner-form