extends template/main

block variables
  - var title = 'Фермеры'
  - var pageClass = ''

block content

  include pages/home/hero
  include pages/fermers/fermers-list
  include modules/banner-form/banner-form