extends template/main

block variables
  - var title = 'Информация о фермере'
  - var pageClass = ''
  - var headerClass = 'header--inner'
  - var dates = true

block content

  include pages/fermer/fermer
  include pages/fermer/fermer-product
  include pages/fermer/fermer-review
  include modules/banner-form/banner-form