extends template/main

block variables
  - var title = 'Кабинет покупателя'
  - var pageClass = ''
  - var login = true

block content

  include pages/cabinet/profile-customer/profile-hero
  include pages/cabinet/profile-customer/profile-customer
  include modules/banner-form/banner-form