extends template/main

block variables
  - var title = 'Мои заказы'
  - var pageClass = ''

block content

  include pages/cabinet/profile-seller/profile-hero
  include pages/cabinet/profile-seller/profile-orders
  include modules/banner-form/banner-form