extends template/main

block variables
  - var title = 'Редактировать Профиль'
  - var pageClass = ''

block content

  include pages/cabinet/profile-seller/profile-hero
  include pages/cabinet/profile-seller/profile-edit-profile
  include modules/banner-form/banner-form