extends template/main

block variables
  - var title = 'Электронный прилавок'
  - var pageClass = ''

block content

  include pages/cabinet/profile-seller/profile-hero
  include pages/cabinet/profile-seller/profile-counter
  include modules/banner-form/banner-form