section.profile
  .container
    .section-head
      h2.section-title История покупок
      .section-head__right
        .small-filters
          .small-filters__dates
            .small-filters__dates-head
              button(type="button").small-filters__btn.small-filters__btn-date
                +icon('calendar-2', 'small-filters__btn-icon')
                span.small-filters__date 
            .small-filters__dates-body
          .small-filters__search
            .small-filters__btn
              +icon('search', 'small-filters__btn-icon')
              input(type="text", name="search", placeholder="Поиск по содержанию")

    table.profile-history
      thead
        tr
          th Дата
          th Название
          th К-во
          th Стоимость
          th Поставщик
      tbody
        tr
          td(data-label="Дата").profile-history__date 01 февраля 2019
          td(data-label="Название") Яйца куринные
          td(data-label="К-во").profile-history__count 100 шт.
          td(data-label="Стоимость").profile-history__price 17 500 руб. 
          td(data-label="Поставщик") ООО «Михайловские Цыплята»
        tr
          td(data-label="Дата").profile-history__date 01 февраля 2019
          td(data-label="Название") Тушки куриные
          td(data-label="К-во").profile-history__count 100 шт.
          td(data-label="Стоимость").profile-history__price 36 000 руб. 
          td(data-label="Поставщик") ООО «Михайловские Цыплята»
        tr
          td(data-label="Дата").profile-history__date 04 февраля 2019
          td(data-label="Название") Базилик
          td(data-label="К-во").profile-history__count 5 кг.
          td(data-label="Стоимость").profile-history__price 11 000 руб. 
          td(data-label="Поставщик") ООО «ФрешЗелень»
        tr
          td(data-label="Дата").profile-history__date 04 февраля 2019
          td(data-label="Название") Салат «Рукола»
          td(data-label="К-во").profile-history__count 25 кг.
          td(data-label="Стоимость").profile-history__price 55 750 руб. 
          td(data-label="Поставщик") ООО «ФрешЗелень»
      tfoot
        tr
          td(colspan="2") Итого за февраль:
            .price
              span.price__number 121 150
                span.price__currency  руб.