section.profile-hero(style="background-image: url(static/images/content/profile-hero-1.jpg)")
  .container
    .profile-hero__wrap.clearfix
      .profile-hero__pic
        img(src="static/images/content/customer.jpg", alt="Фото профиля")
      .profile-hero__content
        h1.profile-hero__title Данилов Юрий Александрович
        p Ресторан La Prima – это прекрасный уголок цветочной Ривьеры, который угадывается в мельчайших деталях интерьера, в музыке и даже в аромате кухни.

    .profile-hero__btns
      ul.profile-hero__btns-list
        li.is-active
          a(href="profile-customer.html") Подробная информация
        li
          a(href="customer-request.html") Создать заявку
        li
          a(href="customer-history.html") История покупок

      a(href="products.html").btn К покупкам