section.profile
  .container
    h2.section-title Подробная информация

    .row
      .col-sm-6.col-md-4.col-lg-3.profile-info
        span.profile-info__title Вид деятельности:
        .profile-info__content
          +icon('guarantee', 'profile-info__icon')
          p
            strong Ресторан
          ul
            li Код ОКВЭД 55.30
            li Код ОКВЭД 55.40
      .col-sm-6.col-md-4.col-lg-3.profile-info
        span.profile-info__title Телефон для связи:
        .profile-info__content
          +icon('call', 'profile-info__icon')
          a(href="tel:+74956505261") +7 (495) 650-52-61
          span.profile-info__desc (c 8:00 до 22:00)
      .col-sm-6.col-md-4.col-lg-3.profile-info
        span.profile-info__title Адрес для доставки:
        .profile-info__content
          +icon('meeting-point', 'profile-info__icon')
          p г. Москва, ул. Большая Дмитровка дом 32 стр.1
      .col-sm-6.col-md-4.col-lg-3.profile-info
        span.profile-info__title На сайте:
        .profile-info__content
          +icon('calendar', 'profile-info__icon')
          p с 20.02.2019 г.

    .profile__row
      .profile__row-left
        .general-slider.swiper-container
          .swiper-wrapper
            .general-slider__item.swiper-slide
              img(src="static/images/content/customer-slider-1.jpg", alt="")
            .general-slider__item.swiper-slide
              img(src="static/images/content/customer-slider-1.jpg", alt="")
            .general-slider__item.swiper-slide
              img(src="static/images/content/customer-slider-1.jpg", alt="")
            .general-slider__item.swiper-slide
              img(src="static/images/content/customer-slider-1.jpg", alt="")
          .swiper-pagination
          .swiper-button-prev
          .swiper-button-next
      .profile__row-right
        .profile__info
          h3.profile__info-title Информация о покупателе
          .profile__info-text(data-simplebar)
            p Ресторан La Prima – это прекрасный уголок цветочной Ривьеры, который угадывается в мельчайших деталях интерьера, в музыке и даже в аромате кухни. Дорогая мебель, тяжелые портьеры, блеск хрустальных люстр, камины, свечи, лепнина… При этом атмосфера здесь уютная и гостеприимная. Пастельные тона прекрасно разбавляют зеленые растения, которые наряду с колоннами, очень грамотно делят основное пространство на несколько зон. В глубине ресторана расположен каминный зал для небольших торжеств и частных вечеров на 15-20 персон.
            p Ресторан La Prima – это прекрасный уголок цветочной Ривьеры, который угадывается в мельчайших деталях интерьера, в музыке и даже в аромате кухни. Дорогая мебель, тяжелые портьеры, блеск хрустальных люстр, камины, свечи, лепнина… При этом атмосфера здесь уютная и гостеприимная. Пастельные тона прекрасно разбавляют зеленые растения, которые наряду с колоннами, очень грамотно делят основное пространство на несколько зон. В глубине ресторана расположен каминный зал для небольших торжеств и частных вечеров на 15-20 персон.