.mobile-menu
  ul.nav-list.mobile-menu__nav-list
    li
      a(href="#") Презентация
    li
      a(href="faq.html") Вопросы и ответы
    li
      a(href="contact.html") Контакты

  ul.menu.mobile-menu__menu
    li
      a(href="products.html") Каталог продукции
    li
      a(href="fermers.html") Фермеры

  .small-search.mobile-menu__small-search
    form(action="#").small-search__form
      .form-group
        input(type="text" placeholder="Поиск...", required)
        button(type="submit").small-search__form-submit
          +icon('search', 'small-search__form-icon')

  a(href="#").small-cart.mobile-menu__small-cart
    .small-cart__left
      +icon('cart', 'small-cart__icon')
      span.small-cart__count 2
    .small-cart__right
      span.small-cart__sum 5 000 
        span.small-cart__currency Руб.

  .user-menu.mobile-menu__user-menu
    .user-menu__btns
      a(href="#").btn.btn--transp.modal-login_open Вход
      a(href="#").btn.modal-register_open Регистрация