section.banner
  .banner__wrap
    .container
      .banner__img
        img(src="static/images/general/banner-map.png", alt="")
      .banner__cta
        h2.section-title Узнать о появлении <br>новых фермеров в моем районе
        form(action="#").banner__cta-form
          .form-group
            input(type="email", placeholder="Введите Вашу почту, что бы быть в курсе", required)
            input(type="submit", value="Подписаться").btn.btn--yellow

  case parallax
    when 'avocado'
      img(src="static/images/general/avocado.png", alt="", data-rellax-speed="1", data-rellax-percentage="0.5").rellax.parallax-4
    when 'egg'
      img(src="static/images/general/egg.png", alt="", data-rellax-speed="2", data-rellax-percentage="0.5").rellax.parallax-4
    default
      img(src="static/images/general/tomato.png", alt="", data-rellax-speed="1", data-rellax-percentage="0.5").rellax.parallax-4