section.faq
  .container
    h2.section-title.text-center Вопросы и ответы

    .faq-list
      .faq-list__item.is-active
        h3.faq-list__title 1. Неужели продукты с фермы отличаются от магазинных?
        .faq-list__content
          p Приветствуем Вас! Мы — молодая, амбициозная команда будущего. Наша мечта — кардинально перевернуть Ваше представление о покупках, а точнее, повернуть возможности современного рынка продуктов к Вам лицом. Все мы хотим употреблять свежие, качественные, самые лучшие продукты по доступным ценам и при этом не утруждать себя бегом по супермаркетам, рынкам в попытках отыскать их. С нашим интернет-рынком легкая покупка качественных продуктов станет реальностью.
      .faq-list__item
        h3.faq-list__title 2. Почему фермерские продукты дороже?
        .faq-list__content
          p Приветствуем Вас! Мы — молодая, амбициозная команда будущего. Наша мечта — кардинально перевернуть Ваше представление о покупках, а точнее, повернуть возможности современного рынка продуктов к Вам лицом. Все мы хотим употреблять свежие, качественные, самые лучшие продукты по доступным ценам и при этом не утруждать себя бегом по супермаркетам, рынкам в попытках отыскать их. С нашим интернет-рынком легкая покупка качественных продуктов станет реальностью.
      .faq-list__item
        h3.faq-list__title 3. Когда вы привезете мне заказ?
        .faq-list__content
          p Приветствуем Вас! Мы — молодая, амбициозная команда будущего. Наша мечта — кардинально перевернуть Ваше представление о покупках, а точнее, повернуть возможности современного рынка продуктов к Вам лицом. Все мы хотим употреблять свежие, качественные, самые лучшие продукты по доступным ценам и при этом не утруждать себя бегом по супермаркетам, рынкам в попытках отыскать их. С нашим интернет-рынком легкая покупка качественных продуктов станет реальностью.
      .faq-list__item
        h3.faq-list__title 4. Как можно сделать заказ?
        .faq-list__content
          p Приветствуем Вас! Мы — молодая, амбициозная команда будущего. Наша мечта — кардинально перевернуть Ваше представление о покупках, а точнее, повернуть возможности современного рынка продуктов к Вам лицом. Все мы хотим употреблять свежие, качественные, самые лучшие продукты по доступным ценам и при этом не утруждать себя бегом по супермаркетам, рынкам в попытках отыскать их. С нашим интернет-рынком легкая покупка качественных продуктов станет реальностью.
      .faq-list__item
        h3.faq-list__title 5. Могу ли я ознакомиться с ветеринарными справками, сертификатами и другими документами на продукты?
        .faq-list__content
          p Приветствуем Вас! Мы — молодая, амбициозная команда будущего. Наша мечта — кардинально перевернуть Ваше представление о покупках, а точнее, повернуть возможности современного рынка продуктов к Вам лицом. Все мы хотим употреблять свежие, качественные, самые лучшие продукты по доступным ценам и при этом не утруждать себя бегом по супермаркетам, рынкам в попытках отыскать их. С нашим интернет-рынком легкая покупка качественных продуктов станет реальностью.
      .faq-list__item
        h3.faq-list__title 6. Если мне привезли плохой продукт, куда обращаться, и как можно уладить ситуацию?
        .faq-list__content
          p Приветствуем Вас! Мы — молодая, амбициозная команда будущего. Наша мечта — кардинально перевернуть Ваше представление о покупках, а точнее, повернуть возможности современного рынка продуктов к Вам лицом. Все мы хотим употреблять свежие, качественные, самые лучшие продукты по доступным ценам и при этом не утруждать себя бегом по супермаркетам, рынкам в попытках отыскать их. С нашим интернет-рынком легкая покупка качественных продуктов станет реальностью.
      .faq-list__item
        h3.faq-list__title 7. Могу ли я оплатить заказ картой?
        .faq-list__content
          p Приветствуем Вас! Мы — молодая, амбициозная команда будущего.

  img.rellax.parallax-1(src="static/images/general/tomato.png", alt="")