section.fermers-list
  .container
    .row
      include ../../modules/fermer-card/fermer-card
      include ../../modules/fermer-card/fermer-card
      include ../../modules/fermer-card/fermer-card
      .col-md-12.text-center.mt20
        a(href="#").btn.btn--transp Показать еще

  img.rellax.parallax-1(src="static/images/general/tomato.png", alt="")