header.header
  .header__top
    .container
      nav.nav.header__nav
        ul.nav-list
          li
            a(href="#") Презентация
          li
            a(href="#") Вопросы и ответы
          li
            a(href="#") Контакты

      .small-location.header__small-location
        a(href="#").small-location__link.modal-region_open
          +icon('location', 'small-location__icon')
          span.small-location__title Московская обл.

      .phone.header__phone
        +icon('phone', 'phone__icon')
        a(href="tel:+79704586435").phone__tel +7 (970) 458 64 35 
        span.phone__schedule (с 7 до 22 ежедневно)

  .header__bottom
    .container
      .logo.header__logo
        a(href="./").logo__link
          img(src="static/images/general/logo.svg", width="150", alt="ГлобаФермер")
        span.logo__desc Электронный <br>Фермерский Рынок

      ul.menu.header__menu
        li
          a(href="#") Каталог продукции
        li
          a(href="fermers.html") Фермеры

      .small-search.header__small-search
        a(href="#").small-search__link
          +icon('search', 'small-search__icon')
        .small-search__body
          
          button.small-search__close
          form(action="#").small-search__form
            .form-group
              input(type="text" placeholder="Поиск...", required)
              button(type="submit").small-search__form-submit
                +icon('search', 'small-search__form-icon')

      a(href="#").small-cart.header__small-cart
        .small-cart__left
          +icon('cart', 'small-cart__icon')
          span.small-cart__count 2
        .small-cart__right
          span.small-cart__sum 5 000 
            span.small-cart__currency Руб.

      .user-menu.header__user-menu
        .user-menu__btns
          a(href="#").btn.btn--transp.modal-login_open Вход
          a(href="#").btn.modal-register_open Регистрация

      button.nav-toggle
        span.nav-toggle__line

  include ../mobile-menu/mobile-menu